.featured-thumbnail {
  height: 17rem;
  margin: 0 0 1rem 0;

  @media (min-width: 576px) {
    height: 22rem;
  }
  @media (min-width: 768px) {
    height: 16rem;
    margin: 0 0 0rem 0;
  }
  @media (min-width: 992px) {
    height: 20rem;
  }
  @media (min-width: 1200px) {
    height: 25rem;
  }
  @media (min-width: 1400px) {
    height: 30rem;
  }
}

a.title{
  text-decoration: none;
}

#work-title{
  margin: 0 auto;

  max-width: 1650px !important;
  padding: 0 0 30px 30px !important;
}

#blog-roll {
  position: relative;
  margin: 0 auto;

  max-width: 1650px !important;
  padding: 0 30px !important;

  .row{
    margin-right: 0 !important;
    margin-left: 0 !important;

  }

  .row>* {
    padding: 0 !important;

    
    
}


  .blog-thumb-title {



    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;



    }



    #blog-thumb-title-main{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;



    }

    img {
      margin-top: 0.7rem;
      position: relative;
      height: 1.75rem;
    }
  }
  h3 {
    width: 75%;
  }
  p {
    position: relative;
    float: right;
    margin-top: .5rem;
    font-size: 1rem;
    font-family: kepler-std-display, serif !important;
    font-weight: 300;
    font-style: italic;

    @media (min-width: 576px) {
      font-size: 1.1rem !important;
    }
    @media (min-width: 768px) {
      font-size: 0.9rem !important;
    }
    @media (min-width: 992px) {
      font-size: .9rem !important;
    }
    @media (min-width: 1200px) {
      font-size: .9rem !important;
    }
    @media (min-width: 1400px) {
      font-size: 1rem !important;
    }
  }
}

.blog-preview {
  width: 100%;
  margin: 0 0 3rem 0;
  border-bottom: 1px solid #111111;
  padding-bottom: 3rem;
  @media (min-width: 576px) {
  }
  @media (min-width: 768px) {
    
    
  }
  @media (min-width: 992px) {
    
  }


  // h2 {
    
  //   position: relative;
  //   transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  // }
  // &:hover {
  //   h2 {
  //     transform: translateX(3%);
  //   }

  // }
}



#blog-right-align{
  @media (min-width: 768px) {
    flex-direction: row-reverse;
    
  }

  .blog-thumb-title{
    @media (min-width: 768px) {
      padding: 0 1rem 0 0 !important;
    }
    @media (min-width: 992px) {
      padding: 0 1.5rem 0 0 !important;
    }
    @media (min-width: 1200px) {
      padding: 0 2rem 0 0 !important;
    }

  }
}

#blog-left-align{
  .blog-thumb-title{
    @media (min-width: 768px) {
      padding: 0 0 0 1rem !important;
    }
    @media (min-width: 992px) {
      padding: 0 0 0 1.5rem !important;
    }
    @media (min-width: 1209px) {
      padding: 0 0 0 2rem !important;
    }

  }
}

#project-type{
  text-align: right;
}
