#blog-post-banner{
  position: absolute !important;
  height: 10rem;
  width: 100vw;
  left: 0;
  top: 0;
  background-size: cover;

  @media (min-width: 500px) {
    
  }
  @media (min-width: 768px) {
    height: 15rem;
    
  }

  @media (min-width: 1000px) {
    
  }
  @media (min-width: 1200px) {
    height: 20rem;
    
    
  }
  @media (min-width: 1800px) {
    
  }
}

#blog-post-wrapper {
  background: white;
  padding-bottom: 2rem;
  margin-top: 12rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-width: 1650px;
  margin: 12rem auto 0;
  &:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: #edece9;
    top: 0;
    left: 0;
    animation: swipeDown 1s cubic-bezier(0.32, 0, 0.67, 0) 0.5s forwards;
    transform-origin: bottom;
  }

  @media (min-width: 576px) {

    padding-left: 2rem;
    padding-right: 2rem;
    
  }
  @media (min-width: 768px) {

    margin-top: 17rem;
    padding-left: 6rem;
    padding-right: 6rem;
    
  }
  @media (min-width: 992px) {

    padding-left: 10rem;
    padding-right: 10rem;
    
  }
  @media (min-width: 1200px) {

    margin-top: 22rem;
    padding-left: 15rem;
    padding-right: 15rem;
    
  }
  @media (min-width: 1400px) {

    padding-left: 22rem;
    padding-right: 22rem;
    
  }
  @media (min-width: 1600px) {

    padding-left: 25rem;
    padding-right: 25rem;
    
  }



  .contact-button{
    z-index: 0 !important;
  }

  .contact-button{
    padding: 5px 45px;
    border: 1px solid #111111;
    border-radius: 100px;
    display: inline-block;
    position: relative;
    z-index: 900;
    p{
      text-align: center;
      position: relative;
      z-index: 900;
      transition: color .4s ease;
    }
    &::after{
      content: '';
      // background: #efefec;
      background: #111111;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      border-radius: 100px;
      z-index: 100;
      // transform: scaleX(0);
      transform-origin: left;
      transition: clip .6s cubic-bezier(0, 0.55, 0.45, 1);
      clip: rect(0px, 0em, 5rem, 0ch);
    }

    &:hover{
      p{
        color: #efefec !important;
      }
  
      &::after{
        // transform: scaleX(1);
        clip: rect(0px, 15em, 5rem, 0ch);
      }
      
    }
  }

  

  #main-image {
    margin-top: 1rem;
    width: 100%;
    position: relative;
  }
  #blog-post-header {
    h2 {
      margin: 2rem 0 0 0;
      @media only screen and (min-width: 768px) {
        margin: 6rem 0 0 0;
      }
    }
    h3 {
      margin: 1rem 0;
    }
    #taglist {
      margin: 3rem 0 0 0;
      @media only screen and (min-width: 768px) {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0 0 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0 0 1rem 0;
        @media only screen and (min-width: 768px) {
          flex-direction: row;
        }

        li {
          margin: 0 2rem 0 0;
          p {
            font-size: 0.9rem;

            @media only screen and (min-width: 768px) {
              font-size: 0.8rem;
            }
            @media only screen and (min-width: 1500px) {
              font-size: 0.85rem;
            }

            @media only screen and (min-width: 1800px) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  #back-button {
    p {
      // color: #1a1d67 !important;
    }
    margin: 0 0 0.5rem 0;
  }
  .blog-content-wrapper {
    margin-top: 5rem;
    width: 100%;
    h3 {
      margin: 2rem 0 1rem 0;
      text-transform: uppercase;

      // @media (min-width: 1000px) {
      //   padding: 0 4rem;
      // }
      // @media (min-width: 1250px) {
      //   padding: 0 15%;
      // }
      // @media (min-width: 1500px) {
      //   padding: 0 20%;
      // }
      // @media (min-width: 2200px) {
      //   // padding: 0 25%;
      // }
    }
    p {
      width: 100%;
      margin: 0 0 2rem 0 !important;
      // color: red !important;
      // @media (min-width: 768px) {
      // }
      // @media (min-width: 1000px) {
      //   padding: 0 4rem;
      // }
      // @media (min-width: 1250px) {
      //   padding: 0 15%;
      // }
      // @media (min-width: 1500px) {
      //   padding: 0 20%;
      // }
      // @media (min-width: 1800px) {
      //   // padding: 0 25%;
      // }
    }

    div {
      width: 100%;
      margin: 0 0 2rem 0;
      @media (min-width: 1000px) {
        margin: 5rem 0 5rem 0;
        padding: 0 2rem;
      }
      @media (min-width: 1250px) {
        padding: 0 0;
      }
      @media (min-width: 1500px) {
        padding: 0 0;
      }
      @media (min-width: 2400px) {
        padding: 0 0;
      }
      img {
        position: relative;
        width: 100%;

        @media (min-width: 768px) {
        }
        @media (min-width: 1000px) {
        }
        @media (min-width: 1500px) {
        }
        @media (min-width: 2400px) {
          width: 48%;
        }
      }
      img:only-child {
        width: 100%;
      }
      img:nth-child(n+2) {
        margin: 1rem 0 0 0;
        @media (min-width: 768px) {
        }
        @media (min-width: 1100px) {
        }
        @media (min-width: 15000px) {
        }
        @media (min-width: 2400px) {
          margin: 0 0 0 0;
        }
      }
    }
  }
}



iframe {
	aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}
