.featured-thumbnail {
  height: 17rem;
  margin: 0 0 1rem 0;

  @media (min-width: 576px) {
    height: 22rem;
  }
  @media (min-width: 768px) {
    height: 16rem;
  }
  @media (min-width: 992px) {
    height: 20rem;
  }
  @media (min-width: 1200px) {
    height: 25rem;
  }
  @media (min-width: 1400px) {
    height: 30rem;
  }
}

a.title{
  text-decoration: none;
}

#work-title{
  margin: 0 auto;

  max-width: 1650px !important;
  padding: 0 0 30px 30px !important;
}

#blog-roll {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  // max-width: 1650px;
  margin: 0 auto;

  max-width: 1650px !important;
  padding: 0 30px !important;

  @media (min-width: 768px) {
    padding: 0 !important;
  }
  .blog-thumb-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    img {
      margin-top: 0.7rem;
      position: relative;
      height: 1.75rem;
    }
  }
  h3 {
    width: 75%;
  }
  p {
    position: relative;
    float: right;
    margin-top: 1rem;
    font-size: 0.8rem;

    @media only screen and (min-width: 768px) {
      font-size: 0.6rem;
    }
    @media only screen and (min-width: 1500px) {
      font-size: 0.65rem;
    }

    @media only screen and (min-width: 1800px) {
      font-size: 0.7rem;
    }
  }
}

#blog-preview {
  width: 100%;
  margin: 0 0 60px 0;
  @media (min-width: 500px) {
  }
  @media (min-width: 768px) {
    width: 50%;
    padding: 0 20px;
  }
  @media (min-width: 1000px) {
    padding: 0 25px;
  }
  h3 {
    
    position: relative;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  }
  // h3:before {
  //   position: absolute;
  //   content: attr(data-content);
  //   // color: #1a1d67;
  //   text-decoration: underline;
  //   clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  //   transition: all 275ms ease;
  // }
  &:hover {
    h3 {
      transform: translateX(3%);
    }
    // h3:before {
    //   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // }
  }
}
