#footer{
  padding: 6rem 30px 7rem !important;
  background: #111111;

  h2, p{
    color: #EDECE8 !important;

  }
  
  #footer-wrap{
    max-width: 1650px !important;
    margin: 0 auto;

    #footer-contact-row{
      padding: 10rem 0 3rem 0;
      border-bottom: 1px solid #EDECE8;

      #footer-brendan{
        text-align: left;
        margin-top: 2rem;
        @media (min-width: 576px) {
          margin-top: 0;
          text-align: right;
          
        }
        

      }
    }

  }
}