@font-face {
  font-family: "Zermatt";
  src: url("../fonts/ZermattFirst.woff2") format("woff2"),
    url("../fonts/ZermattFirst.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Swiss721";
  src: url("../fonts/swiss_721_light_extended_bt-webfont.woff2") format("woff2"),
    url("../fonts/swiss_721_light_extended_bt-webfont.woff") format("woff");
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #2e2e2e;
}

a {
  text-decoration: underline;
  font-family: Swiss721, sans-serif;
  color: #2e2e2e;
  
}

h1 {
  font-family: Zermatt, sans-serif;
  font-size: 5.5rem;
  font-weight: normal;
  @media (min-width: 500px) {
    font-size: 7.5rem;
  }
  @media (min-width: 625px) {
    font-size: 8rem;
  }
  @media (min-width: 768px) {
    font-size: 10.5rem;
  }
  @media (min-width: 1000px) {
    font-size: 14rem;
  }
  @media (min-width: 1250px) {
    font-size: 18rem;
  }
  @media (min-width: 1500px) {
    font-size: 20rem;
  }
}

h2 {
  font-family: Zermatt, sans-serif;
  font-weight: normal;
  font-size: 3.75rem;
  @media only screen and (min-width: 768px) {
    font-size: 5rem;
  }
  @media only screen and (min-width: 1000px) {
    font-size: 5.5rem;
  }
  @media only screen and (min-width: 1250px) {
    font-size: 6rem;
  }
}

h3 {
  font-family: Zermatt, sans-serif;
  font-size: 3rem;
  font-weight: normal;
  @media (min-width: 500px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1000px) {
    font-size: 3.2rem;
  }
  @media (min-width: 1250px) {
    font-size: 3.5rem;
  }
  @media (min-width: 1500px) {
    font-size: 4rem;
  }
  @media (min-width: 1700px) {
    font-size: 5rem;
  }
}

h4 {
  font-family: Swiss721, sans-serif;
  font-size: 1.3rem;
  font-weight: normal;
  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1000px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1250px) {
    font-size: 1.8rem;
  }
  @media (min-width: 1500px) {
    font-size: 2rem;
  }
}

h5 {
  font-family: Zermatt, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  @media (min-width: 500px) {
    font-size: 1.25rem;
  }
  @media (min-width: 1000px) {
    font-size: 1.6rem;
  }
  @media (min-width: 1250px) {
    font-size: 1.75rem;
  }
  @media (min-width: 1500px) {
    font-size: 2rem;
  }
  @media (min-width: 1700px) {
    font-size: 3rem;
  }
}

p {
  font-family: Swiss721, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  color: #2e2e2e;
  line-height: 1.4rem;
  @media only screen and (min-width: 768px) {
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 1100px) {
    line-height: 1.6rem;
    font-size: 1rem;
  }
  @media only screen and (min-width: 1440px) {
    line-height: 1.8rem;
    font-size: 1.1rem;
  }

  @media only screen and (min-width: 1800px) {
    font-size: 1.25rem;
  }
}
