@font-face {
  font-family: "Swiss721";
  src: url("../fonts/swiss_721_light_extended_bt-webfont.woff2") format("woff2"),
    url("../fonts/swiss_721_light_extended_bt-webfont.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("../fonts/NeueMontreal-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montreal";
  src: url("../fonts/NeueMontreal-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Montreal";
  src: url("../fonts/NeueMontreal-Italic.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #111111 !important;
}

a {
  text-decoration: underline;
  font-family: Montreal, sans-serif;
  color: #111111;
  
}

h1 {
  font-family: Swiss721, sans-serif;
  font-size: 3.5rem !important;
  font-weight: normal;
  @media (min-width: 415px) {
    font-size: 4.5rem !important;
  }
  @media (min-width: 576px) {
    font-size: 3.7rem !important;
  }
  @media (min-width: 768px) {
    font-size: 4.5rem !important;
  }
  @media (min-width: 992px) {
    font-size: 6rem !important;
  }
  @media (min-width: 1200px) {
    font-size: 7rem !important;
  }
  @media (min-width: 1400px) {
    font-size: 9rem !important;
  }
}

h2 {
  font-family: Swiss721, sans-serif;
  font-weight: normal;
  font-size: 2.5rem !important;


  @media (min-width: 576px) {
    font-size: 3rem !important;
  }
  @media (min-width: 768px) {
    font-size: 3.5rem !important;
  }
  @media (min-width: 992px) {
    font-size: 4rem !important;
  }
  @media (min-width: 1200px) {
    font-size: 4.5rem !important;
  }
  @media (min-width: 1400px) {
    font-size: 5rem !important;
  }
}

h3 {
  font-family: kepler-std-display, serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.25rem !important;
  @media (min-width: 576px) {
    font-size: 2rem !important;
  }
  @media (min-width: 768px) {
    font-size: 2.5rem !important;
  }
  @media (min-width: 992px) {
    font-size: 3rem !important;
  }
  @media (min-width: 1200px) {
    font-size: 3.3rem !important;
  }
  @media (min-width: 1400px) {
    font-size: 3.8rem !important;
  }
}

h4 {
  font-family: Swiss721, sans-serif;
  font-size: 1.4rem !important;
  font-weight: normal;


  @media (min-width: 576px) {
    font-size: 1.6rem !important;
  }
  @media (min-width: 768px) {
    font-size: 1.3rem !important;
  }
  @media (min-width: 992px) {
    font-size: 1.5rem !important;
  }
  @media (min-width: 1200px) {
    font-size: 1.6rem !important;
  }
  @media (min-width: 1400px) {
    font-size: 1.7rem !important;
  }
}

h5 {
  font-family: kepler-std-display, serif;
  font-size: 1.9rem !important;
  font-weight: 300 !important;
  font-style: italic;
  @media (min-width: 576px) {
    font-size: 1.7rem !important;
  }
  @media (min-width: 768px) {
    font-size: 1.7rem !important;
  }
  @media (min-width: 992px) {
    font-size: 1.8rem !important;
  }
  @media (min-width: 1200px) {
    font-size: 1.9rem !important;
  }
  @media (min-width: 1400px) {
    font-size: 2rem !important;
  }
}

p {
  font-family: Montreal, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2e2e2e;
  line-height: 1.4rem;
  @media only screen and (min-width: 768px) {
    font-size: 0.9rem;
  }
  @media only screen and (min-width: 1100px) {
    line-height: 1.6rem;

  }
  @media only screen and (min-width: 1440px) {
    

  }

  @media only screen and (min-width: 1800px) {
  
  }
}
